<div class="panel">
    <p class="right">
        <a href="https://twitter.com/wpsverige" class="twitter-follow-button" data-size="large">Follow @wpsverige</a>
        <script>!function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                if (!d.getElementById(id)) {
                    js = d.createElement(s);
                    js.id = id;
                    js.src = p + '://platform.twitter.com/widgets.js';
                    fjs.parentNode.insertBefore(js, fjs);
                }
            }(document, 'script', 'twitter-wjs');</script>
    </p>
    <p>This site is run by <a href="https://wpsv.se">WordPress Sverige</a>. WPackagist was forked from <a href="http://outlandish.com">Outlandish</a></p>
</div>
